@model LendingTree.Models.Loan
@{
    ViewBag.Title = "AdminDroppedInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_styling");

<style>
    .table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.5 );
        display: table;
        border-collapse: separate;
        border-spacing: 10px;
        border-color: gray;
    }
</style>

<hr>
<h3 style="text-align:center; color: cornflowerblue">Dropped Loans</h3>

@if ((int)ViewBag.Flag == 0)
{
<table>
    <tr>
        <th>Loan Id</th>
    </tr>

    @{ int count = 0; }

    @foreach (var loan in ViewBag.Query)
    {


        string name = loan.ToString();

        if (count < 3)
        {
            if (name != null)
            {
                <tr style="color:red">
                    <td>

                        @Html.ActionLink(name, "LoanInfo", new { loanId = loan, status = 6 })
                    </td>
                </tr>
            }
            else
            {

                <tr>
                    <td> No Records Found!</td>
                </tr>

                }
            }
            else
            {
                if (name != null)
                {
                <tr style="color:blue">
                    <td>

                        @Html.ActionLink(name, "LoanInfo", new { loanId = loan, status = 6 })
                    </td>
                </tr>
                        }
                else
                {

<tr>
    <td> No Records Found!</td>
</tr>


            }
            }
        }




    }
</table>
}


@if ((int)ViewBag.Flag == 1)
{

    var loan = (LendingTree.Models.Loan)ViewBag.Query;

    using (Html.BeginForm("AdminDroppedInfo", "Agent", FormMethod.Post))
    {
        <table class="table-wrapper">
            <tr>
                <th>Loan Id</th>
                <th>Loan Amount</th>
                <th>Due Time (Years)</th>
                <th>Income</th>
                <th>Loan Type</th>
                <th>PAN Number</th>
                <th>Aadhar Number</th>
                <th>Bank Account Number</th>
                <th>User</th>
                <th>@Html.LabelFor(m => m.Remarks)</th>
            </tr>

            <tr>
                <td>@loan.LoanId</td>
                <td>@loan.LoanAmount</td>
                <td>@loan.DueTime</td>
                <td>@loan.Income</td>
                <td>@loan.LoanType</td>
                <td>@loan.PANNo</td>
                <td>@loan.AadharNo</td>
                <td>@loan.BankAccountNo</td>
                <td>@loan.FK_User</td>
                <td>@Html.TextAreaFor(m => m.Remarks)
                <td>
            </tr>

            @Html.Hidden("LoanId", new { loan.LoanId });

        </table>

        <input type="submit" value="Submit" class="btn btn-default" />
    }


}

<hr>
@Html.ActionLink("Log Out", "LogOut", "Agent")

