
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <style>
        body {
            background: url('/Images/white3.jpg');
            background-repeat: no-repeat;
            background-size: 1920px 1080px;
            color: ghostwhite;
        }

        .form-horizontal {
            display: inline-block;
            margin-left: 15%;
            margin-right: 15%;
            width: 70%;
        }

        .btn {
            border: 1px solid #3498db;
            background: none;
            padding: 10px 20px;
            font-size: 20px;
            font-family: "montserrat";
            cursor: pointer;
            margin: 10px;
            transition: 0.8s;
            position: relative;
            overflow: hidden;
            color: #3498db;
        }


            .btn:hover {
                color: #184b4a;
            }


            .btn::before {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 0%;
                background: #3498db;
                z-index: -1;
                transition: 0.8s;
                top: 0;
                border-radius: 0 0 50% 50%;
            }







            .btn:hover::before {
                height: 180%;
            }





        div {
            color: #161f19;
        }
    </style>
</head>
<body>
    <hr>
    <h3 style="text-align:center; color: cornflowerblue">ADMIN</h3>
    <hr>
    <h3>@Html.ActionLink("Loans for Physical Verification", "Admin", new { status = 1 })</h3>
    <hr>
    <h3>@Html.ActionLink("Loans for Document Verification", "Admin", new { status = 2 })</h3>
    <hr>
    <h3>@Html.ActionLink("Loans for Legal Department", "Admin", new { status = 3 })</h3>
    <hr>
    <h3>@Html.ActionLink("Loans for Admin Approval", "Admin", new { status = 4 })</h3>
    <hr>
    <h3>@Html.ActionLink("Dropped Loans", "Admin", new { status = 6 })</h3>

    <hr>
    @Html.ActionLink("Log Out", "LogOut","Agent")


</body>

</html>
