

@{
    ViewBag.Title = "Dropped Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_styling");

<style>
    .table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.5 );
        display: table;
        border-collapse: separate;
        border-spacing: 10px;
        border-color: gray;
    }
</style>


<h3 style="text-align:center; color: cornflowerblue">Dropped Loans</h3>

@if (Model != null)
{
    <table class="table-wrapper">

        <tr>
            <th>Loan Id</th>
            <th>Loan Amount</th>
            <th>Due Time (Years)</th>
            <th>Income</th>
            <th>Loan Type</th>
            <th>PAN Number</th>
            <th>Aadhar Number</th>
            <th>Bank Account Number</th>
            <th>User</th>
        </tr>
        @foreach (var loan in Model)
        {


            <tr>
                <td>@loan.LoanId</td>
                <td>@loan.LoanAmount</td>
                <td>@loan.DueTime</td>
                <td>@loan.Income</td>
                <td>@loan.LoanType</td>
                <td>@loan.PANNo</td>
                <td>@loan.AadharNo</td>
                <td>@loan.BankAccountNo</td>
                <td>@loan.FK_User</td>
            </tr>


        }
    </table>
}
<hr>

@Html.ActionLink("Generate Pdf", "GeneratePdf", new { status = 6 })



<hr>
@Html.ActionLink("Log Out", "Logout", "Admin")

<hr>